<h1>Profile</h1>

<div class="container" ng-repeat="user in users | filter:{user_id:id}:true | limitTo:1">

	<div class="row">
		<h1>{{user.name}} <span ng-show="user.role">[{{user.role}}]</span></h1>
		<h2>{{user.email}}</h2>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="photo in userPhotos = (photos | filter:{user_id:id}:true)">
			<a href="#/photo/{{photo.photo_id}}">
				<img class="img-responsive" ng-src="{{photo.filename}}" title="{{photo.title}}"/>
			</a>
		</div>

		<p ng-hide="userPhotos.length">There is no photos</p>
	</div>

</div>